# Environment files
.env
.myenvironment/
.menv/
*.venv/
venv/
ENV/
env/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.python-version

# Virtual environment
.menv/
.menv/*
.menv/**

# Resources, data, or temp files
*.log
*.tmp

# OS specific
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp
